

<html>

<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>
        free gyan at home
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">FreeGyan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Courses</a>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdown03">

                        {% for url in urls %}
                        <a class="dropdown-item" href="/home?{{key}}={{url.name}}">{{url.name}}</a>
                        {% endfor %}
                    </div>
                </li>

            </ul>
        </div>
        <ul class="navbar-nav mr-auto">
            {% if session.log %}
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
            </li>
            
            {% else %}
            <li class="nav-item active" id="sign">
                <a class="nav-link" href="/register">Signup<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/login">Signin<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container-1">
        
        <div class="row">
            <div class="col-lg-10">
                <div class="bold" id="sorting-1" style="padding-bottom: 10px;" ><b>Filter by</b></div>
                <div class="btn-group" id="sorting-2">
                    <button type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown">Level <span id="size" class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        
                    </ul>
                </div>
                <div class="btn-group" id="sorting-3">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">University <span class="caret"></span></button>
                    <ul class="dropdown-menu scrollable-menu" role="menu">
                        {% for list in list %}
                        <li><a class="dropdown-item" >{{list.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="container" style="margin-top: 10px;">
        <div class="raw">
            
            {% for course in course %}
            {% if course.source=="Coursera" %}
            <div class="card card-list-style">
                <a class="link" href={{course.link}} class="first-hidden">
                    <div class="card-content">
                        <div class="col-xs-4 col-sm-2 image-column">
                            <div class="image-style">
                                {% if course.cover=="" %}
                                <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera-course-photos/a1/fd9a9b0f404af6842d49aad8cf141a/Andrew-WA-Thompson-699-1-.jpg?auto=format%2Ccompress&dpr=1&w=150&h=150&fit=fill&bg=FFF"
                                    height="150px" width="150px">
                                {% else %}
                                <img src={{course.cover}} height="150px" width="150px">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-8 vertical-box">
                            <div class="author-info">

                                <p>
                                    <span>
                                        <b>{{course.name}}</b><span class="size"> with {{course.university}} </span>
                                    </span>
                                </p>
                                <div>
                                    Enrolled Students : {{course.enrolled_students}}
                                </div>
                                <div>
                                    <span>Rating : {{course.rating}}</span>
                                    <span class="rating">From : {{ "{:,}".format(course.rating_count) }}</span>
                                </div>

                                <div>
                                    <span>Level : {{course.level}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% else %}
            <div class="card card-list-style">
                <a class="link" href="{{course.link}}" class="first-hidden">
                    <div class="card-content">
                        <div class="col-xs-4 col-sm-3 image-column">
                            <div class="image-style">
                                {% if course.cover=="" %}
                                <img src="https://cdn.lynda.com/courses/2812129-637286277086927950_270x480_thumb.jpg"
                                    height="158" width="280">
                                {% else %}
                                <img src={{course.cover}} height="158" width="280">
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-xs-8 vertical-box">
                            <div class="author-info">
                                <div class="catagory">{{course.category}}</div>
                                <p>
                                    <span>
                                        <b>{{course.name}}</b><span class="size"> with {{course.author_name}} </span>
                                    </span>
                                </p>
                                <div class="discription">
                                    {{course.course_description}}
                                </div>
                                <div class="meta">
                                    {%if course.time//3600 %}
                                    <span>{{(course.time//3600)}}h {{(course.time%3600/60)|int}}m</span>
                                    {% else %}
                                    <span>{{(course.time%3600/60)|int}}m</span>
                                    {% endif %}
                                    <span class="meta-level">Level : {{course.level}}</span>
                                    <span class="meta-views"> Views : {{ "{:,}".format(course.views) }}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            <!-- {% for course in course %}
            <div>
                {{course.name}}
            
            </div>
            {% endfor %} -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if (page|int) == 0 %}
                    <li class="page-item disabled">
                        <a class="page-link" href="/home?{{key}}={{q}}&page={{((page)|int)-1}}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/home?{{key}}={{q}}&page={{((page)|int)-1}}">Previous</a>
                    </li>
                    {% endif %}
                    {% if ((pages/10)|int) < 4  %}
                    {% for i in range(1,((pages/10)|int)) %}
                    <li class="page-item"><a class="page-link" href="/home?{{key}}={{q}}&page={{i}}">{{i}}</a></li>
                    {% endfor %}
                    {% else %}

                    {% if ((page)|int) < 4  %}
                    {% for i in range(1,5) %}
                    <li class="page-item"><a class="page-link" href="/home?{{key}}={{q}}&page={{i}}">{{i}}</a></li>
                    {% endfor %}
                    <li class="page-item"><a class="page-link" href="">{{'...'}}</a></li>
                    <li class="page-item"><a class="page-link"
                            href="/home?{{key}}={{q}}&page={{(pages/10)|int}}">{{(pages/10)|int}}</a></li>

                    {% elif ((page)|int) > (((pages/10)|int)-3)  %}
                    <li class="page-item"><a class="page-link" href="/home?{{key}}={{q}}&page={{1}}">{{1}}</a></li>
                    <li class="page-item"><a class="page-link" href="">{{'...'}}</a></li>
                    {% for i in range((((pages/10)|int)-3),(((pages/10)|int)+1)) %}
                    <li class="page-item"><a class="page-link" href="/home?{{key}}={{q}}&page={{i}}">{{i}}</a></li>
                    {% endfor %}
                    {% else %}
                    <li class="page-item"><a class="page-link" href="/home?{{key}}={{q}}&page={{1}}">{{1}}</a></li>
                    <li class="page-item"><a class="page-link" href="">{{'...'}}</a></li>
                    {% for i in range(((page)|int),(((page)|int)+3)) %}
                    <li class="page-item"><a class="page-link" href="/home?{{key}}={{q}}&page={{i}}">{{i}}</a></li>
                    {% endfor %}
                    <li class="page-item"><a class="page-link" href="">{{'...'}}</a></li>
                    <li class="page-item"><a class="page-link"
                            href="/home?{{key}}={{q}}&page={{(pages/10)|int}}">{{(pages/10)|int}}</a></li>
                    {% endif %}
                    {% endif %}

                    {% if (page|int) == ((pages/10)|int)  %}
                    <li class="page-item disabled">
                        <a class="page-link" href="/home?{{key}}={{q}}&page={{((page)|int)+1}}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/home?{{key}}={{q}}&page={{((page)|int)+1}}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="row" id="foter">
            <div class="col-12 col-md">
                <i class="fas fa-book" id="logo"></i>
                <small class="d-block mb-3 text-muted">© 2017-2018</small>
            </div>
            <div class="col-6 col-md">
                <h5>Customer services</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">About us</a></li>
                    <li><a class="text-muted" href="#">Technical Support</a></li>
                    <li><a class="text-muted" href="#">Terms & Conditions</a></li>
                    <li><a class="text-muted" href="#">FAQs</a></li>
                    <li><a class="text-muted" href="#">Feedback</a></li>
                    <li><a class="text-muted" href="#">How to Order</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Product</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Laptop</a></li>
                    <li><a class="text-muted" href="#">Desktop</a></li>
                    <li><a class="text-muted" href="#">Accessories</a></li>
                    <li><a class="text-muted" href="#">Printers</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Contact us</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">contact@company.com</a></li>
                    <li><a class="text-muted" href="#">1800-900-900-80</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Stay Connected</h5>
                <ul class="list-unstyled text-small">
                    <i class="fab fa-twitter" id="log"></i>
                    <i class="fab fa-instagram" id="log"></i>
                    <i class="fab fa-youtube" id="log"></i>
                    <i class="fab fa-pinterest" id="log"></i>
                    <i class="fab fa-google-plus-g" id="log"></i>
                </ul>
            </div>
        </div>

</body>

</html>
<!-- page = 32
pages = 52

pagination = []

if page < 4:
    for i in range(1,5):
        pagination.append(i)
    pagination.append('...')
    pagination.append(pages)

elif page > pages-3:
    pagination.append(1)
    pagination.append('...')
    
    for i in range(pages-3,pages+1):
        pagination.append(i)
else:
    pagination.append(1)
    pagination.append('...')
    
    for i in range(page,page+3):
        pagination.append(i)

    pagination.append('...')
    pagination.append(pages) -->