<!DOCTYPE html>
<html>
<head>
    <title>
        Free Gyan
    </title>
    <link rel="stylesheet" type="text/css" href="/static/sign_style.css">
</head>
<body>
    <div class="signin">
        <h1>Free Gyan</h1>
    <form>
        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" id="uname" name=""  placeholder="username">    
        </div>
        <div class="textbox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="password" id="psw" name=""  placeholder="Password">    
        </div>
        <input class="btn" type="submit" name="" value="signin">
        <input class="btn" type="submit" name="" value="signup">

    </form>
    </div>
</body>